@import "tailwindcss" source('./');

@custom-variant dark (&:where(.dark, .dark *));


@theme {
    --color-blue-700: oklch(0.4958 0.1989 259.77);
}

.full-screen {
    @apply w-screen h-screen;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.dark ::-webkit-scrollbar-track {
    background: transparent;
}
.dark ::-webkit-scrollbar-thumb {
    background: #555;
}
.dark ::-webkit-scrollbar-thumb:hover {
    background: #777;
}
